# Raw data
data/raw/Detail_Change.csv
data/raw/Detail_Incident_Activity.csv
data/raw/Detail_Incident.csv
data/raw/Detail_Interaction.csv

# DB
itsm_bpi2014.db
kpi_report_bpi2014.xlsx

# Python
__pycache__/
*.py[cod]

# OS
Thumbs.db

# Editor
.vscode/




